.feedback_wrapper {
  background: url(../../assets/img/bg-feedback.jpg);
  height: 490px;
}

.feedback_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 122px;
}

.feedback_form {
  padding-top: 100px;
}

.feedback-title {
  font-weight: 600;
  font-size: 40px;
  color: var(--color-white);
  max-width: 349px;
}

.feedback-description {
  font-weight: 400;
  font-size: 20px;
  color: var(--color-white);
  padding-top: 20px;
  padding-bottom: 40px;
}

.feedback__form-input-wrapper {
  display: flex;
  gap: 22px;
}

.feedback__form-input {
  width: 384px;
  height: 60px;
  border-radius: 8px;
  text-align: center;
}

.feedback__button {
  width: 152px;
  height: 60px;
  border-radius: 8px;
  background-color: var(--color-text);
  color: var(--color-white);
}
