.feedback {
  background: url(../../assets/img/bg-feedback.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 490px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .feedback {
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    background-attachment: scroll;
  }
}

.feedback_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 122px;
}

.feedback_form {
  padding-top: 100px;
}

@media screen and (max-width: 768px) {
  .feedback_form {
    width: 100%;
    max-width: 500px;
  }
}

@media screen and (max-width: 576px) {
  .feedback_form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.feedback-title {
  font-weight: 600;
  font-size: 40px;
  color: var(--color-white);
  max-width: 349px;
}

@media screen and (max-width: 576px) {
  .feedback-title {
    text-align: center;
    font-size: 24px;
  }
}

.feedback-description {
  font-weight: 400;
  font-size: 20px;
  color: var(--color-white);
  padding-top: 20px;
  padding-bottom: 40px;
}

@media screen and (max-width: 576px) {
  .feedback-description {
    font-size: 14px;
  }
}

.feedback__form-input-wrapper {
  display: flex;
  gap: 22px;
}

@media screen and (max-width: 576px) {
  .feedback__form-input-wrapper {
    // flex-wrap: wrap;
    // gap: 15px;
    width: 100%;
    max-width: 365px; /* или 100% если нужно на весь экран */
    gap: 15px;
    justify-content: space-between;
  }
}

.feedback__form-input {
  width: 384px;
  height: 60px;
  border-radius: 8px;
  padding-left: 24px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media screen and (max-width: 576px) {
  .feedback__form-input {
    max-width: 220px;
        width: 100%;
    max-width: none; /* убираем ограничение */
    flex: 1; /* заставляем растягиваться */
    min-width: 0; /* важно для flex-shrink */
    height: 40px;
    font-size: 14px;
  }
}

.feedback__button {
  width: 152px;
  height: 60px;
  border-radius: 8px;
  background-color: var(--color-text);
  color: var(--color-white);
  border: none;
  font-weight: 600;
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .feedback__button {
    max-width: 105px;
    height: 40px;
    font-size: 12px;
  }
}
