.feedback {
  background: url(../../assets/img/bg-feedback.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 490px;
  width: 100%;
}

.feedback_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 122px;
}

.feedback_form {
  padding-top: 100px;
}

.feedback-title {
  font-weight: 600;
  font-size: 40px;
  color: var(--color-white);
  max-width: 349px;
}

.feedback-description {
  font-weight: 400;
  font-size: 20px;
  color: var(--color-white);
  padding-top: 20px;
  padding-bottom: 40px;
}

.feedback__form-input-wrapper {
  display: flex;
  gap: 22px;
}

.feedback__form-input {
  width: 384px;
  height: 60px;
  border-radius: 8px;
  padding-left: 24px;
  border: none;
  font-weight: 400;
  font-size: 16px;
}

.feedback__button {
  width: 152px;
  height: 60px;
  border-radius: 8px;
  background-color: var(--color-text);
  color: var(--color-white);
  border: none;
  font-weight: 600;
  font-size: 20px;
}
