.footer {
  // height: 513px;
  background-color: var(--color-text);
  //   position: relative;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
}

.footer_logo {
  font-weight: 700;
  font-size: 24px;
  width: 118px;
  height: 28px;
}

hr {
  border: none;
  height: 2px;
  background-color: #eaeef3;
  margin: 59px 0 64px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  color: var(--color-white);
  padding-bottom: 50px;
}

// .footer-column {
//     display: flex;
//     gap: 25px;
// }

.footer-column__title {
  font-weight: 500px;
  font-size: 18px;
  padding-bottom: 25px;
}

.footer-column__list {
  font-weight: 400;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer-bottom {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-white);
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.footer-social {
  display: flex;
  gap: 16px;
}

.footer__icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #2a2c3f;
}
