.furniture {
  display: flex;
  align-items: center;
  min-height: 591px;
}

.furniture_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.furniture_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  font-size: 40px;
}

.furniture_subtitle {
  font-weight: 600;
  font-size: 40px;
  max-width: 558px;
}

.furniture_description {
  padding-top: 35px;
  font-weight: 400;
  font-size: 20px;
  max-width: 570px;
}

.furniture_img {
  display: flex;
  align-items: center;
}

.furniture_img_1 {
  max-width: 554px;
  max-height: 399px;
  border-radius: 5px;
}
