.furniture {
  display: flex;
  align-items: center;
  min-height: 591px;
}

.furniture_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .furniture_wrapper {
    display: flex;
    gap: 25px;
  }
}

@media screen and (max-width: 768px) {
  .furniture_wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

.furniture_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  font-size: 40px;
}

.furniture_subtitle {
  font-weight: 600;
  font-size: 40px;
  max-width: 558px;
}

@media screen and (max-width: 992px) {
  .furniture_subtitle {
    font-size: 35px;
    max-width: unset;
  }
}

@media screen and (max-width: 576px) {
  .furniture_subtitle {
    font-size: 24px;
  }
}

.furniture_description {
  padding-top: 35px;
  font-weight: 400;
  font-size: 20px;
  max-width: unset;
}

@media screen and (max-width: 992px) {
  .furniture_description {
    font-size: 17px;
  }
}

@media screen and (max-width: 768px) {
  .furniture_description {
    font-size: 14px;
    padding-top: 15px;
  }
}

.furniture_img {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .furniture_img {
    width: 100%;
  }
}

.furniture_img_1 {
  width: 100%;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .furniture_img_1 {
    padding-bottom: 90px;
    max-width: unset;
    max-height: unset;
    width: 100%;
  }
}
