.header {
  background: url(../../assets/img/header-bg.jpg);
  width: 100%;
  height: 903px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .header_logo svg {
    width: 116px;
    height: 38px;
  }
}

.burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .burger {
    display: flex;
  }
}

.header-burger {
  padding-top: 37px;
}

.header-burger img {
  width: 24px;
  height: 24px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  padding-top: 28px;
  max-width: 174px;
  max-height: 57px;
}

@media screen and (max-width: 768px) {
  .header_logo {
    padding-top: 30px;
  }
}

.header_nav_list {
  display: flex;
  gap: 64px;
  padding-top: 44px;
}

@media screen and (max-width: 768px) {
  .header_nav_list {
    display: none;
  }
}

.header_nav-home {
  color: var(--color-white);
  font-weight: 600;
  font-size: 16px;
}

.header_nav-link {
  color: var(--color-white);
  font-weight: 400;
  font-size: 16px;
}

.hero {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.hero_title {
  font-weight: 600;
  font-size: 64px;
  padding-top: 225px;
  max-width: 888px;
}

@media screen and (max-width: 768px) {
  .hero_title {
    font-weight: 600;
    font-size: 30px;
    padding-top: 190px;
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .hero_title {
    font-weight: 600;
    font-size: 24px;
    padding-top: 190px;
    max-width: 290px;
  }
}

.hero_description {
  font-weight: 400;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 64px;
  max-width: 627px;
}

@media screen and (max-width: 768px) {
  .hero_description {
    font-weight: 400;
    font-size: 17px;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 390px;
  }
}

@media screen and (max-width: 576px) {
  .hero_description {
    font-weight: 400;
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 293px;
  }
}

.hero_button {
  width: 100%;
  max-width: 257px;
  height: 62px;
  backdrop-filter: blur(30px);
  text-decoration: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .hero_button {
    max-width: 138px;
    height: 39px;
    font-size: 17px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 576px) {
  .hero_button {
    max-width: 138px;
    height: 39px;
    font-size: 14px;
    border-radius: 5px;
  }
}

.statistica {
  position: relative;
  margin-top: 65px;
  z-index: 1;
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .statistica {
    margin-top: 280px;
  }
}

.statistica-wrapper {
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: var(--color-bg_static);
  border-radius: 20px;
  padding: 38px 111px;
}

@media screen and (max-width: 992px) {
  .statistica-wrapper {
    max-width: 900px;
  }
}

@media screen and (max-width: 768px) {
  .statistica-wrapper {
    display: flex;
    gap: 35px;
    padding: 38px 80px;
  }
}

@media screen and (max-width: 576px) {
  .statistica .statistica-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 30px 50px;
    justify-content: center;
    max-width: 340px;
    margin: 0 auto;
  }

  .statistica_field:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .statistica_field:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }

  .statistica_field:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
  }

  .statistica_field:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }
}

.statistica_field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  // height: 105px;
  max-width: 112px;
}

@media screen and (max-width: 768px) {
  .statistica_field {
    max-width: 100px;
  }
}

.statistica_h3 {
  font-weight: 600;
  font-size: 40px;
}

@media screen and (max-width: 768px) {
  .statistica_h3 {
    font-size: 24px;
  }
}

.statistica_text {
  font-weight: 400;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .statistica_text {
    font-size: 14px;
  }
}
