// .product {
//   display: flex;
//   align-items: center;
//   max-height: 591px;
// }

.product_wrapper {
  padding: 0 20px 0 20px;
}

.product_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_subtitle {
  font-weight: 600;
  font-size: 40px;
  color: var(--color-text);
}

@media screen and (max-width: 576px) {
  .product_subtitle {
    font-size: 24px;
  }
}

.product_description {
  display: flex;
  align-items: center;
  padding-top: 16px;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-text);
  //   max-width: 539px;
}

@media screen and (max-width: 576px) {
  .product_description {
    font-size: 14px;
  }
}

.product_items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 27px;
  row-gap: 60px;
  padding-top: 27px;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .product_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .product_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
    gap: 20px;
  }
}

.product_item {
  display: flex;
  flex-direction: column;
}

.product_card {
  position: relative;
}

.produt_img {
  border-radius: 20px;
  max-width: 285px;
  max-height: 292px;
  border: 1px solid #d9d9d9;
}

// @media screen and (max-width: 576px) {
//   .produt_img {
//     max-width: 160px;
//     max-height: 170px;
//   }
// }

.produt_plus {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

@media screen and (max-width: 992px) {
  .produt_plus {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 390px) {
  .produt_plus {
    width: 20px;
    height: 20px;
  }
}

.produt_title {
  padding-top: 15px;
  font-weight: 600;
  font-size: 24px;
  color: var(--color-text);
}

@media screen and (max-width: 576px) {
  .produt_title {
    font-size: 16px;
  }
}

.produt_price {
  display: flex;
  gap: 18px;
}

@media screen and (max-width: 576px) {
  .produt_price {
    gap: 0px;
  }
}

.produt_price_new {
  padding-top: 8px;
  font-weight: 400;
  font-size: 16px;
  width: 53px;
  height: 26px;
}

@media screen and (max-width: 576px) {
  .produt_price_new {
    font-size: 12px;
  }
}

.produt_price_old {
  padding-top: 11px;
  font-weight: 400;
  font-size: 14px;
  width: 48px;
  height: 23px;
  color: var(--color-text);
  text-decoration: line-through;
}

@media screen and (max-width: 576px) {
  .produt_price_old {
    font-size: 10px;
  }
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 30px;
}

@media screen and (max-width: 992px) {
  .navigation {
    padding-bottom: 70px;
  }
}

.nav-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .nav-btn {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 576px) {
  .nav-btn {
    width: 24px;
    height: 24px;
  }
}

.nav-btn:hover {
  background-color: #23262f;
  border-color: #23262f;
}

.nav-btn:hover svg path {
  stroke: white;
}

.dots {
  display: flex;
  gap: 15px;
}

.active {
  background-color: #23262f;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #23262f;
  padding: 0;
  margin: 0;
  background: white;
  cursor: pointer;
  display: inline-block;
}

@media screen and (max-width: 992px) {
  .dot {
    width: 8px;
    height: 8px;
  }
}

.dot:hover {
  background-color: #23262f;
}
