.furniture {
  display: flex;
  align-items: center;
  min-height: 591px;
}

.product_wrapper {
}

.product_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_subtitle {
  font-weight: 600;
  font-size: 40px;
}

.product_description {
  display: flex;
  align-items: center;
  padding-top: 16px;
  font-weight: 400;
  font-size: 16px;
//   max-width: 539px;
}



.produt_items {

}

.produt_item {

}


