// .product {
//   display: flex;
//   align-items: center;
//   max-height: 591px;
// }

.product_wrapper {
  padding: 0 20px 0 20px;
}

.product_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_subtitle {
  font-weight: 600;
  font-size: 40px;
  color: var(--color-text);
}

.product_description {
  display: flex;
  align-items: center;
  padding-top: 16px;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-text);
  //   max-width: 539px;
}

.produt_items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 27px;
  row-gap: 60px;
  padding-top: 27px;
  padding-bottom: 50px;
}

.produt_item {
  position: relative;
  //  padding-top: 60px;
}

.produt_img {
  border-radius: 20px;
  max-width: 285px;
  max-height: 292px;
  border: 1px solid #d9d9d9;
}

.produt_title {
  padding-top: 15px;
  font-weight: 600;
  font-size: 24px;
  color: var(--color-text);
}

.produt_price {
  display: flex;
  gap: 18px;
}

.produt_price_new {
  padding-top: 8px;
  font-weight: 400;
  font-size: 16px;
  width: 53px;
  height: 26px;
}

.produt_price_old {
  padding-top: 11px;
  font-weight: 400;
  font-size: 14px;
  width: 48px;
  height: 23px;
  color: var(--color-text);
  text-decoration: line-through;
}

.produt_plus {
  position: absolute;
  // top: 252px;
  bottom: 100px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #d9d9d9;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 30px;
}

.nav-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: #23262f;
  border-color: #23262f;
}

.nav-btn:hover svg path {
  stroke: white;
}

.dots {
  display: flex;
  gap: 15px;
}

.active {
  background-color: #23262f;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #23262f;
}
