.saying {
  display: flex;
  align-items: center;
  min-height: 480px;
  // padding-left: 100px;
}

.saying_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .saying_wrapper {
    display: flex;
    flex-direction: column;
  }
}

.saying_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .saying_left {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 576px) {
  .saying_left {
    padding-bottom: 33px;
  }
}

.saying_title {
  font-weight: 600;
  font-size: 40px;
  max-width: 635px;
}

@media screen and (max-width: 992px) {
  .saying_title {
    font-size: 30px;
  }
}

@media screen and (max-width: 576px) {
  .saying_title {
    font-size: 24px;
  }
}

.saying-person {
  display: flex;
  gap: 20px;
  padding-top: 35px;
}

@media screen and (max-width: 576px) {
  .saying-person {
    padding-top: 33px;
  }
}

.saying_img_2 {
  width: 80px;
  height: 80px;
}

@media screen and (max-width: 992px) {
  .saying_img_2 {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 576px) {
  .saying_img_2 {
    width: 40px;
    height: 40px;
  }
}

// .saying-people {
//   display: flex;
// }

.saying-name {
  font-weight: 600;
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  .saying-name {
    font-size: 15px;
  }
}

@media screen and (max-width: 576px) {
  .saying-name {
    font-size: 14px;
  }
}

.saying-post {
  font-weight: 400;
  font-size: 14px;
  color: #919297;
}

@media screen and (max-width: 992px) {
  .saying-post {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .saying-post {
    font-size: 10px;
  }
}

.saying_description {
  padding-top: 28px;
  font-weight: 400;
  font-size: 20px;
  max-width: 570px;
}

@media screen and (max-width: 992px) {
  .saying_description {
    font-size: 14px;
  }
}

.slide-saying {
  display: flex;
  padding-top: 31px;
  gap: 24px;
}

.saying_img {
  display: flex;
  align-items: center;
}

.saying_img_1 {
  max-width: 562px;
  max-height: 340px;
  border-radius: 5px;
}

// @media screen and (max-width: 576px) {
//   .saying_img_1 {
//     max-width: 339px;
//     max-height: 205px;
//   }
// }

.slide-saying {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-top: 31px;
}

@media screen and (max-width: 768px) {
  .slide-saying {
    display: none;
  }
}

.saying-btn-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: white;
}

@media screen and (max-width: 992px) {
  .saying-btn-left {
    width: 40px;
    height: 40px;
  }
}

.saying-btn-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #286f6c;
}

@media screen and (max-width: 992px) {
  .saying-btn-right {
    width: 40px;
    height: 40px;
  }
}

.slide-saying-mb {
  display: none;
}

@media screen and (max-width: 768px) {
  .slide-saying-mb {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 50px;
    margin: 0 auto;
  }
}
