.services {
  display: flex;
  align-items: center;
  // height: 591px;
  padding-top: 150px;
}

.services_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

@media screen and (max-width: 768px) {
  .services_wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
  }
}

@media screen and (max-width: 768px) {
  .services_img {
    width: 100%;
  }
}

.services_img_1 {
  max-width: 554px;
  max-height: 443px;
  border-radius: 5px;
}

@media screen and (max-width: 1200px) {
  .services_img_1 {
    max-width: 650px;
    max-height: 510px;
  }
}

@media screen and (max-width: 992px) {
  .services_img_1 {
    // max-width: 350px;
    // max-height: 240px;
    max-width: unset;
    max-height: unset;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .services_img_1 {
    // max-width: 340px;
    // max-height: 270px;
    max-width: unset;
    max-height: unset;
    width: 100%;
  }
}

.services_right {
  padding-top: 15px;
  font-weight: 600;
  font-size: 40px;
}

.services_subtitle {
  font-weight: 600;
  font-size: 40px;
  max-width: 508px;
}

@media screen and (max-width: 1200px) {
  .services_subtitle {
    font-size: 35px;
    max-width: 508px;
  }
}

@media screen and (max-width: 992px) {
  .services_subtitle {
    font-size: 35px;
    // max-width: 450px;
    max-width: unset;
  }
}

@media screen and (max-width: 576px) {
  .services_subtitle {
    // max-width: 340px;
    max-width: unset;
    font-size: 24px;
  }
}

.services_description {
  padding-top: 14px;
  padding-bottom: 35px;
  font-weight: 400;
  font-size: 20px;
  max-width: 587px;
}

@media screen and (max-width: 1200px) {
  .services_description {
    font-size: 20px;
    max-width: 450px;
  }
}

@media screen and (max-width: 992px) {
  .services_description {
    font-size: 14px;
    // max-width: 340px;
    max-width: unset;
  }
}

.services__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 579px;
}

@media screen and (max-width: 1200px) {
  .services__list {
    max-width: 450px;
  }
}

@media screen and (max-width: 992px) {
  .services__list {
    // max-width: 350px;
    max-width: unset;
  }
}

@media screen and (max-width: 576px) {
  .services__list {
    // max-width: 340px;
    max-width: unset;
  }
}

.services__item {
  display: flex;
  gap: 16px;
}

.services_icon {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 576px) {
  .services_icon {
    width: 24px;
    height: 24px;
  }
}

.services_item-title {
  font-weight: 600;
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  .services_item-title {
    font-size: 16px;
  }
}

// @media screen and (max-width: 992px) {
//   .services_item-title {
//     font-size: 13px;
//   }
// }

.services_item-p {
  font-weight: 400;
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
  .services_item-p {
    font-size: 14px;
  }
}

// @media screen and (max-width: 992px) {
//   .services_item-p {
//     font-size: 10px;
//   }
// }
