.slider {
  display: flex;
  align-items: center;
}

.slider_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .slider_wrapper {
    display: flex;
    gap: 0px;
    flex-direction: column;
  }
}

.slider_text {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .slider_text {
    display: flex;
    flex-direction: row;
    padding-top: 80px;
  }
}

@media screen and (max-width: 576px) {
  .slider_text {
    display: flex;
    // gap: 20px;
  }
}

.slider_subtitle {
  padding-top: 100px;
  max-width: 219px;
}

@media screen and (max-width: 1200px) {
  .slider_subtitle {
    max-width: 200px;
  }
}

@media screen and (max-width: 992px) {
  .slider_subtitle {
    min-width: 172px;
  }
}

@media screen and (max-width: 768px) {
  .slider_subtitle {
    padding-top: 0px;
  }
}

@media screen and (max-width: 576px) {
  .slider_subtitle {
    max-width: 124px;
  }
}

.slider_description {
  font-weight: 400;
  font-size: 16px;
  padding-top: 89px;
  max-width: 245px;
}

@media screen and (max-width: 1200px) {
  .slider_description {
    font-size: 14px;
    max-width: 245px;
    padding-top: 60px;
  }
}

@media screen and (max-width: 768px) {
  .slider_description {
    display: flex;
    align-items: center;
    padding-top: 0px;
  }
}

@media screen and (max-width: 576px) {
  .slider_description {
    max-width: 206px;
  }
}

.slider_button {
  padding-top: 48px;
  display: flex;
  max-width: 99px;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .slider_button {
    display: none;
  }
}

.slider_check {
  font-weight: 500;
  font-size: 16px;
  background: none;
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  .slider_check {
    font-size: 14px;
  }
}

.slider_ctrelka {
  width: 20px;
}

.slider_img {
  display: flex;
  gap: 20px;
  padding-top: 70px;
  padding-bottom: 70px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  cursor: grab;
}

@media screen and (max-width: 768px) {
  .slider_img {
    padding-top: 25px;
  }
}

.slider_img:active {
  cursor: grabbing;
}

.slide-item {
  position: relative;
  display: flex;
  flex-shrink: 0;
}

.slider_imgs {
  max-width: 265px;
  max-height: 400px;
  scroll-snap-align: start;
  flex-shrink: 0;
  display: block;
  border-radius: 5px;
}

@media screen and (max-width: 576px) {
  .slider_imgs {
    max-width: 198px;
    max-height: 299px;
  }
}

.slide-caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-white);
  font-size: 26px;
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .slide-caption {
    font-size: 18px;
  }
}
