@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Saira", sans-serif;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 15px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 25px;
  }
}


.subtitle {
  font-weight: 600;
  font-size: 40px;
  max-width: 508px;
}

@media screen and (max-width: 1200px) {
  .subtitle {
    font-size: 30px;
    max-width: 508px;
  }
}

:root {
  --color-white: #ffffff;
  --color-text: #23262f;
  --color-bg_static: #286f6c;
}
