@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Saira", sans-serif;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 15px;
}

:root {
  --color-white: #ffffff;
  --color-text: #23262F; 
}