@import url(../scss/reset.scss);
@import url(../scss/global.scss);
@import url(../scss/components/header.scss);
@import url(../scss/components/services.scss);
@import url(../scss/components/slider.scss);
@import url(../scss/components/furniture.scss);
@import url(../scss/components/product.scss);
@import url(../scss/components/saying.scss);
@import url(../scss/components/feedback.scss);
@import url(../scss/components/footer.scss);