@import url(/src/scss/fonts.scss);
@import url(/src/scss/global.scss);
@import url(/src/scss/reset.scss);
@import url(../scss/components/header.scss);
@import url(../scss/components/services.scss);
@import url(../scss/components/slider.scss);
@import url(../scss/components/furniture.scss);
@import url(../scss/components/product.scss);
@import url(../scss/components/saying.scss);